<div class="field">
  <label>
    <span class="field-label">{{label}}</span>
    {{input value=value}}
    {{#if errorText}}
      <span class="field-label error">{{errorText}}</span>
    {{/if}}
  </label>
</div>
