{{input-field label="First Name" value=model.firstName}}
{{input-field label="Last Name" value=model.lastName}}
{{input-field label="Email"
              value=model.email
              validator='email'}}

<div class="field">
  <label>
    <span class="field-label">Phone</span>
    {{input value=model.phone}}
    <select>
      <option>Mobile</option>
      <option>Work</option>
      <option>Home</option>
    </select>
  </label>
</div>
